<div>
  <div class="container mt-5">
    <div class="row mb-5">
      <div class="col">
        <app-sort-filter [currentPage]="currentPage" (totalItems)="getTotalItems($event)" (movies)="getMovies($event)" ></app-sort-filter>
      </div>
     
      <div class="col d-flex"></div>
    </div>
    <h1 class="text-light">Results: {{ totalItems }}</h1>
    <div class="row">
      <div *ngFor="let movie of movies" class="col-lg-3 col-md-4 col-sm-6 mb-5">
        <app-movie-card [movie]="movie"></app-movie-card>
      </div>
    </div>
  </div>
  <div *ngIf="movies">
    <div class="d-flex justify-content-center" *ngIf="movies.length > 0">
      <pagination
        [itemsPerPage]="8"
        [totalItems]="totalItems"
        [(ngModel)]="currentPage"
       
      ></pagination>
    </div>
    <div class="d-flex justify-content-center mt-5" *ngIf="movies.length === 0">
      <h1 class="text-light">No matches found :(</h1>
    </div>
  </div>
  
</div>


