<div *ngIf="movie" [class.bg-gold]="movie.rank==1" [class.bg-secondary]="movie.rank==2" [class.bg-bronze]="movie.rank==3" class="row border border-secondary border-start-0 rounded-end ">
  <span class="d-flex align-items-center  col-1">{{movie.rank}}</span>
  <span class=" col-1"><img class="photo" src="{{movie.imgUrl}}"></span>
  <span class=" d-flex align-items-center  col-3">{{movie.title}}</span>
  <span class=" d-flex align-items-center col-2">{{movie.premiere| date:('yyyy') }}</span>
  <span class=" d-flex align-items-center  col-2">{{movie.genre}}</span>
  <span class=" d-flex align-items-center col-3"><rating
    class="fs-3 d-flex justify-content-center"
    [(ngModel)]="movie.avgRating"
    [max]="5"
    [readonly]="true"
  ></rating></span>
  
</div>