.photo {
  width: auto;
  height: 5rem !important;
}
.bg-bronze{
  background-color:sienna;
}
.bg-gold{
  background-color: rgb(255, 170, 0);
}
.title:hover{
  text-decoration: underline;
  }
  .box{
    cursor: pointer;
  }
  @media(max-width:768px){
    .details{
      opacity: 0;
      margin-left: -100px;
    }
  }