<div *ngIf="!isMainPage " ><button [class.mt-3]="!isMyList"  class="btn btn-outline-info  " (click)="addMovie()" *ngIf="!isLiked && !isMyList" >
  <i class="fa-sharp fa-solid fa-plus fa-lg pe-1" ></i> Add to your list
</button>
<button class="btn btn-outline-danger " [class.mt-3]="!isMyList" (click)="removeMovie()" *ngIf="isLiked">
  <i class="fa-sharp fa-solid fa-minus fa-lg pe-1"></i> Remove from your list
</button></div>

  <div (click)="toggleMovie()" class="lg-100" *ngIf="isMainPage">
    <i  *ngIf="!isLiked" class="   fa-sharp fa-solid fa-plus fa-lg"></i>
    <i *ngIf="isLiked" class="    fa-sharp fa-solid fa-minus fa-lg"></i>
  </div>
    
  

