<div (click)="isHovering ? null : redirect()" *ngIf="movie &&element" class="box row border border-secondary border-start-0 rounded-end">
  <span class=" col-2 col-lg-1"><img class="photo" src="{{movie.imgUrl}}"></span>
  <span class="title d-flex align-items-center col-lg-2 col-3">{{movie.title}}</span>
  <span class=" d-flex align-items-center col-2">{{element.added |timeago}}</span>
  <span class=" d-flex align-items-center col-1 col-lg-4"></span>
  <span (mouseenter)="isHovering = true"
  (mouseleave)="isHovering = false" class=" d-flex align-items-center col-4 col-lg-3"><app-add-to-list (statusChange)="updateList()" [isMyList]="true" [movie]="movie"></app-add-to-list></span>
</div>