/* Custom CSS to make the Navbar Toggler icon light and remove the black border */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30'><path stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

/* Remove the black outline when the Navbar Toggler icon is clicked or active */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.drop{
  cursor: pointer;
}
.dropdownList {
  transform: translateX(-20px)!important; 
}
li .active{
   color: rgb(189, 189, 189)!important;
  }

  
  .nav-link:hover {
   
    color: rgb(189, 189, 189)!important;
  }
