.photo{
  width: auto;
  height: 5rem!important;
}
.title:hover{
  text-decoration: underline;
  }
  .box{
    cursor: pointer;
  }
  .shorten-content {
    white-space: normal!important; 
    word-wrap: break-word!important; 
    overflow-wrap: break-word !important; /* Alternative for better browser compatibility */
  }
  