<div class="image">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="container">
      <div class="row">
        <div class="main offset-md-7 col-md-5">
          <h1><strong>Start your movie journey with us!</strong></h1>
          <div class="step ">
            <span class="rounded-circle circle btn bg-dark text-light">1</span
            ><span class="circletext ms-3"
              ><strong
                >Create your account or log in to exisiting one</strong
              ></span
            >
          </div>
          <div class="step ">
            <span class="rounded-circle circle btn bg-dark text-light">2</span
            ><span class="circletext ms-3"
              ><strong
                >Look for movies you watched</strong
              ></span
            >
          </div>
          <div class="step ">
            <span class="rounded-circle circle btn bg-dark text-light">3</span
            ><span class="circletext ms-3"
              ><strong
                >Leave a review and comment about movie :D</strong
              ></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
