<div class="space">
<div class="container">
  <h1 class="text-center text-light mb-4">Movies Management</h1>
  <div class="row mb-4">
    <div class="col">
      <app-sort-filter [url]="'/admin/edit/'" [currentPage]="currentPage" (totalItems)="getTotalItems($event)" (movies)="getMovies($event)" ></app-sort-filter>
    </div>
    <div class="col">
      <button (click)="redirect('admin/add')" class="btn btn-success float-end"><i class="fa-solid fa-plus"></i> Add new movie</button>
    </div>
  </div>

  
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th style="width: 5%;">Id</th>
        <th style="width: 15%;">Title</th>
        <th style="width: 15%;">Genre</th>
        <th style="width: 15%;">Premiere</th>
        <th style="width: 35%;">Description</th>
        <th style="width: 5%;">Duration</th>
        <th style="width: 10%;">Manage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies">
        <td>{{movie.id}}</td>
        <td>{{movie.title}}</td>
        <td>{{movie.genre}}</td>
        <td>{{movie.premiere|date}}</td>
        <td>{{shortenDescription(movie.description)}}</td>
        <td>{{movie.duration}}</td>
        <td>
          <button class="btn btn-warning ms-2" (click)="redirect('admin/edit/'+movie.title.toLowerCase())"><i class="fa-solid fa-pen-to-square"></i></button>
          <button class="btn btn-danger ms-2" (click)="openModal(confirmDeleteModal, movie)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
      
    </tbody>
  
  </table>
</div>
</div>
<ng-template #confirmDeleteModal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm Delete</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure you want to delete '{{ selectedMovie?.title }}'?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="confirmDelete(selectedMovie?.title)">Delete</button>
  </div>
</ng-template>
<div class="d-flex justify-content-center mt-4" *ngIf="movies">
  <pagination [itemsPerPage]="8" [totalItems]="totalItems" [(ngModel)]="currentPage" (ngModelChange)="onChangePage()"  ></pagination>
</div>