<div (click)="isHovering ? null : redirect()"
  *ngIf="movie && rating"
  class="box row border border-secondary border-start-0 rounded-end"
>
  <span class="col-2 col-lg-1"><img class="photo" src="{{ movie.imgUrl }}" /></span>
  <span class="title d-flex align-items-center col-3">{{ movie.title }}</span>
  <span class="d-flex align-items-center col-3">{{
   rating.created | timeago
  }}</span>
  <span class="d-flex align-items-center col-4" (mouseenter)="isHovering = true"
    (mouseleave)="isHovering = false"
    >
    
    <ngx-stars
      class="fs-3 d-flex justify-content-center"
      [readonly]="false"
      [size]="1"
      [color]="'#FFFFFF'"
      [maxStars]="5"
      [initialStars]="rating.grade"
      [wholeStars]="true"
      (ratingOutput)="unlockButton($event)"
    ></ngx-stars
  ></span>
  
</div>
